---
import "./Content.css";
---
<section class="content">
	<h2>Why Trendy AI?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae velit ex. Mauris ultricies vel nulla
		vitae finibus. Proin vel consectetur ligula. Nulla facilisi. Suspendisse potenti. Phasellus imperdiet nunc at
		ullamcorper vehicula. Aliquam erat volutpat.</p>

	<h2>Features</h2>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		<li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
		<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
	</ul>

	<h2>Join Us Today</h2>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
		aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</section>
