---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Server Error - Trendy AI">
	<section class="error-page">
		<h1>500 - Server Error</h1>
		<p>Oops! Something went wrong on our end.</p>
		<a href="/" class="error-link">Return to Home</a>
	</section>
</Layout>
